<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "/stylesheets/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar-default">
      <div class="container-fluid" id="navbar" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">

          <div class="navbar-header">
            <a class="navbar-brand" href="/" id="logo">IBM Watson <span style= "color: #FFA573"> Beat</a>
          </div>
          {{#if isLoggedIn}}
            <div class = "nav navbar-nav navbar-center" style = "display: flex; margin-left: 300px;">
              <a href = "/dashboard"><div><h2 id ="dashboard-label" type = "button">Dashboard</h2></div></a>
              <a href = "/dashboard"><div><h2 id ="dashboard-label" type = "button" style="padding-left: 48px;">About</h2></div></a>
            </div>
            <div class="nav navbar-nav navbar-right">
              <h2 id=username>{{name}}</h2>
            </div>
          {{else}}
            <div class="nav navbar-nav navbar-right">
              <a href="/login"><div id = "signuprect">
                <p id="sign-up">Sign Up</p>
              </div></a>
            <!-- <a class = "navbar-brand" href="/login" id="sign-up">Sign Up</a> -->
            </div>
          {{/if}}
        </div>
      </div><!-- /.container-fluid -->
    </nav>
  </header>
    <p>{{{body}}}</p>

    <p>{{{button}}}</p>

</body>
</html>
