<head>
  <link rel = "stylesheet" href = "/stylesheets/cognitive.css">
  <script src="/js/cognitive.js" type="text/javascript"></script>
  <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>

</head>
  <body>
    <div class="container-fluid" id="section-1">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                <h3 id="cog-title-1">What are you creating?</h3>
                <a href= "#walk-container"><h1 onclick="setCogSongLength(15)" id="answer">Transition</h1></a>
                <a href= "#walk-container"><h1 onclick="setCogSongLength(30)" id="answer">Intro or outro song</h1></a>
                <a href= "#walk-container"><h1 onclick="setCogSongLength(240)" id="answer">Background music<h1></a>
              </div>
            </div>
          </div>
    </div>

    <div class="container-fluid" id="walk-container">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h3 id="cog-title">If your project could walk, how would it move?</h3>
            </div>
        </div>

        <div class="row" id="cog-opt-container">
          <div class="col-md-4">
            <a href= "#weather-container"><img onclick="setMood('popfunk')" src="/Icons/Sprint.png"></a>
          </div>
          <div class="col-md-4">
            <a href= "#weather-container"><img onclick="setMood('chill')" src="/Icons/Stroll.png"></a>
          </div>
          <div class="col-md-4">
            <a href= "#weather-container"><img onclick="setMood('reggaepop')" src="/Icons/Skip.png"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="weather-container">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h3 id="cog-title">If your project was a weather forecast, which would it be?</h3>
            </div>
        </div>

        <div class="row" id="cog-opt-container">
          <div class="col-md-4">
            <a href= "#rollercoaster-container"><img src="/Icons/Rain.png">
          </div>
          <div class="col-md-4">
            <a href= "#rollercoaster-container"><img src="/Icons/Sunny.png">
          </div>
          <div class="col-md-4">
            <a href= "#rollercoaster-container"><img src="/Icons/Thunder.png">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="rollercoaster-container">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h3 id="cog-title">If your project was a rollercoaster, which would it be?</h3>
            </div>
        </div>

        <div class="row" id="cog-opt-container">
          <div class="col-md-4">
            <a href= ""><img id = "roller1" onclick="cogthingshappen1()" src="/Icons/Rollercoaster-1.png">
          </div>
          <div class="col-md-4">
            <a href= ""><img id = "roller2" onclick="cogthingshappen2()"src="/Icons/Rollercoaster-2.png">
          </div>
          <div class="col-md-4">
            <a href= ""><img id = "roller3" onclick="cogthingshappen3()"src="/Icons/Rollercoaster-3.png">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="bx--overflow-menu-options__btn" id="button-main">Create track</button>
          </div>
        </div>
      </div>
    </div>


            <div class="row">
              <div class="col-md-12" style="display: flex; margin-top: 40px;">

                <a href = "/"><button type="button">Home Page</button>
                <a href = "play"><button type="button">Generate/Play Track</button>
              </div>
            </div>
  </body>
