<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "/stylesheets/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid" style = "padding-top: 123.5px;" id = "belowheader">
      <div class="container">
        <div class="row" id="top">
            <div class="col-md-9">
              <img id="watson" src="/images/Avatar-White.png" style="height:109px; width:117px;"></img>
              <h1 class="title" id="welcome">Watson <span style= "color: #FFA573"> Beat</a></h1>
                  <h2 class="subhead" id="welcome-description">Tell us about your project and Watson will compose an original tack based off of your needs!</h2>
            </div>
          </div>
        </div>

          <audio controls>
            <source src="/music" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>

          <div class="row">
            <div class="col-md-12" style="display: flex; margin-top: 40px;">

        <a href = "/"><button type="button">Home Page</button>
        <a href = "/scUploadFinal"><button type="button">Save to MixCloud</button>
        <a href = "../cognitive/"><button type="button">Generate another track similar to this</button>

              <a href = "/getRecent"><button type="button">Get most recent .mp3</button>
            </div>
          </div>
  </div>
</body>
