<body>
  <body>
    <div class="container-fluid" id="section-1">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                <h3 id="cog-title-1">What are you creating?</h3>
                <h1 id="answer">Transition</h1>
                <h1 id="answer">Intro or outro song</h1>
                <h1 id="answer">Background music<h1>
              </div>
            </div>
          </div>
    </div>

    <div class="container-fluid" id="walk-container">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h3 id="cog-title">If your project could walk, how would it move?</h3>
            </div>
        </div>

        <div class="row" id="cog-opt-container">
          <div class="col-md-4">
            <img src="/Icons/Sprint.png">
          </div>
          <div class="col-md-4">
            <img src="/Icons/Stroll.png">
          </div>
          <div class="col-md-4">
            <img src="/Icons/Skip.png">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="weather-container">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h3 id="cog-title">If your project was a weather forecast, which would it be?</h3>
            </div>
        </div>

        <div class="row" id="cog-opt-container">
          <div class="col-md-4">
            <img src="/Icons/Rain.png">
          </div>
          <div class="col-md-4">
            <img src="/Icons/Sunny.png">
          </div>
          <div class="col-md-4">
            <img src="/Icons/Thunder.png">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="rollercoaster-container">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h3 id="cog-title">If your project was a rollercoaster, which would it be?</h3>
            </div>
        </div>

        <div class="row" id="cog-opt-container">
          <div class="col-md-4">
            <img src="/Icons/Rollercoaster-1.png">
          </div>
          <div class="col-md-4">
            <img src="/Icons/Rollercoaster-2.png">
          </div>
          <div class="col-md-4">
            <img src="/Icons/Rollercoaster-3.png">
          </div>
        </div>
      </div>
    </div>


            <div class="row">
              <div class="col-md-12" style="display: flex; margin-top: 40px;">

                <a href = "/"><button type="button">Home Page</button>
                <a href = "play"><button type="button">Generate/Play Track</button>
              </div>
            </div>
  </body>
</body>
