<body>
COGNITIVE EXPERIENCE. GENERATE OPTIONS CHOSEN/DEFAULT JSON HERE
</body>

<a href = "/"><button type="button">Home Page</button>
<a href = "play"><button type="button">Generate/Play Track</button>