<body>
GENERATE CUSTOM TRACK. PUT GRAPH HERE. USER CHOOSES MELODY AND OTHER THINGS AS WELL.
</body>

<a href = "/"><button type="button">Home Page</button>
<a href = "play"><button type="button">Generate/Play Track</button>