<body>
PLAY COGNITIVE-GENERATED TRACK. Already Downloaded
</body>

<a href = "/"><button type="button">Home Page</button>
<a href = "/mixcloud/upload"><button type="button">Save to MixCloud</button>
<a href = "../custom/"><button type="button">Generate another custom track similar to this</button>