<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create A New Track</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="/stylesheets/createTrack.css">
    <link rel = "stylesheet" href="/stylesheets/carbon.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/js/createTrack.js" type="text/javascript"></script>
    <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"/>
    <script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"/>
    <script src="../node_modules/carbon-components/scripts/carbon-components.min.js" type="text/javascript"></script>

  </head>
  <body>
    <div class="container-fluid" style = "padding-top: 90px; background-color: white;">
      <div class="container">
        <div class="row" id="top" style="display: flex;">
          <h1 class="title" id="custom-title">Customize your track</a></h1>
        </div>
        <div class = "row" id="choose-mood">
          <h2 id="choose-label">Choose Mood :</h2>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" value="reggaepop" onclick="myFunction2(value)" class="moodbtns">Reggae Pop</button>
            <button type="button" value="popfunk" onclick="myFunction2(value)" class="moodbtns">Pop Funk</button>
            <button type="button" value="chill" onclick="myFunction2(value)" class="moodbtns">Chill</button>
          </div>
        </div>
        <div class = "row" id="wrappergraph">
          <div id = "graph"><div>
        </div>

      </div>
    </div>
    <div id = pageContainer>
      <div class="form-group" id="formfortime" >
        <input type="text" class="form-control" placeholder="00:00" id="songlength" style = " font-size: 15px; ">
        <button onclick="settime()" id="settime">Set Song Length</button>
      </div>
      <!-- <div id = "wrappergraph" style="position: relative">
        <div id="graph"></div>
      </div> -->
      <a href = "generate"><button id="generate">Watson Magic Time</button></a>
    </div>
  </body>
</head>
</html>
