<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "/stylesheets/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid" style = "padding-top: 123.5px;" id = "belowheader">
      <div class="container">
        <div class="row" id="top">
            <div class="col-md-9">
              <h1 class="title" id="welcome" style = "margin:auto">Here is your <span style= "color: #FFA573"> unique</a> track!</h1>
              <div>
                <h2 class="subhead" id="welcome-description" style="margin-top:10px;">by Watson Beat</h2>
                <img id="watson-symbol" src="/images/Avatar-White.png" style="height:109px; width:117px;"></img>
              </div>
            </div>
          </div>
          <audio controls>
            <!-- <source src="/music" type="audio/mpeg"> -->
            Your browser does not support the audio tag.
          </audio>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>

        </div>

            <div class="row">
              <div class="col-md-12" style="display: flex; margin-top: 40px;">

                <a href = "/"><button type="button">Home Page</button>
                <a href = "/scUploadFinal"><button type="button">Save to MixCloud</button>
                <a href = "../custom/"><button type="button">Generate another custom track similar to this</button>
              </div>
            </div>
    </div>
  </body>
