
<body>
Hi there, {{name}}! DASHBOARD. ABILITY TO PLAY LOCAL TRACKS. MIXCLOUD SOULD BE AUTHED. LINK TO MIXCLOUD/SHARABLE LINK.
</body>

<a href = "/"><button type="button">Home Page</button>
<a href = "/mixcloud/login"><button type="button">Login to SoundCloud'</button>

<a href = "/track/cognitive/"><button type="button">Cognitive Experience</button>
<a href = "/track/custom/"><button type="button">Customize</button>


<a href = "/testWriteAtt"><button type="button">Write 123 to 'holder'</button>
<a href = "/scUpload"><button type="button">Upload to SC</button>