
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar-default">
      <div class="container-fluid" id="navbar" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">

          <div class="navbar-header">
            <a class="navbar-brand" href="/" id="logo">IBM Watson <span style= "color: #6969D4"> Beat</a>
          </div>
          <div class = "nav navbar-nav navbar-center" style = "display: flex; margin-left: 300px;">
            <a href = "/dashboard"><div><h2 id ="dashboard-label" type = "button">Dashboard</h2></div></a>
            <a href = "/dashboard"><div><h2 id ="dashboard-label" type = "button" style="padding-left: 48px;">About</h2></div></a>

          </div>
          <div class="nav navbar-nav navbar-right">
            <a href="/login"><div id = "signuprect">
              <p id="sign-up">Sign Up</p>
            </div></a>
            <!-- <a class = "navbar-brand" href="/login" id="sign-up">Sign Up</a> -->
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </nav>
  </header>
</body>

<a href = "/"><button type="button">Home Page</button>
<a href = "/mixcloud/login"><button type="button">Login to SoundCloud'</button>

<a href = "/track/cognitive/"><button type="button">Cognitive Experience</button>
<a href = "/track/custom/"><button type="button">Customize</button>


<a href = "/testWriteAtt"><button type="button">Write 123 to 'holder'</button>
<a href = "/scUpload"><button type="button">Upload to SC</button>
