<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LogIn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="login.css">
    <link rel = "stylesheet" href="node_modules/carbon-components/css/carbon-components.min.css">


  </head>
  <body>
    <!-- Code for header -->
    <!-- Unified Header -->
    <div data-unified-header class="bx--unified-header bx--unified-header--apps" tabindex="0">

      <!-- Global Header -->
      <header role="banner" class="bx--global-header">
        <div class="bx--global-header__left-container">
          <div class="bx--left-nav__trigger bx--left-nav__trigger--apps" data-left-nav-toggle="open" tabindex="0">
            <!-- <div class="bx--left-nav__trigger--btn"> -->
              <span></span>
            </div>
          </div>
          <div class="bx--global-header__left-nav bx--left-nav--active" data-left-nav-container aria-expanded="false">
            <div class="bx--left-nav__close-row"></div>
            <div data-left-nav-current-section="apps" class="bx--left-nav__header">
              <svg data-left-nav-current-section-icon="apps" class="bx--left-nav__header--taxonomy-icon">
                <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--apps"></use>
              </svg>
              <a data-left-nav-current-section-title tabindex="0" class="bx--left-nav__header--title">Apps</a>
            </div>
            <nav class="bx--left-nav" data-left-nav role="navigation" aria-label="Left Navigation">
              <ul data-left-nav-sections class="bx--left-nav__sections">
                <li data-left-nav-section="services" class="bx--left-nav__section bx--left-nav__section--services">
                  <a href="javascript:void(0)" class="bx--left-nav__section--anchor" tabindex="0">
                    <svg data-left-nav-section-icon="services" class="bx--left-nav__section--taxonomy-icon">
                      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--apps"></use>
                    </svg>
                    <span data-left-nav-section-link class="bx--left-nav__section--link">Services</span>
                  </a>
                </li>
                <li data-left-nav-section="infrastructure" class="bx--left-nav__section bx--left-nav__section--infrastructure" tabindex="0">
                  <a href="javascript:void(0)" class="bx--left-nav__section--anchor" tabindex="0">
                    <svg data-left-nav-section-icon="infrastructure" class="bx--left-nav__section--taxonomy-icon">
                      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--apps"></use>
                    </svg>
                    <span data-left-nav-section-link class="bx--left-nav__section--link">Infrastructure</span>
                  </a>
                </li>
              </ul>
              <!-- APPLICATIONS MENU -->
              <ul role="menubar" class="bx--left-nav__main-nav" data-left-nav-list="apps" aria-hidden="false">
                <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item tabindex="0">
                  <a class="bx--parent-item__link" href="#" title="Example Item" tabindex="-1" aria-haspopup="true" data-left-nav-item-link>
                    <svg class="bx--parent-item__link--taxonomy-icon">
                      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--apps"></use>
                    </svg>
                    Example Mishra Parent Item
                  </a>
                </li>
                <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item tabindex="0">
                  <a class="bx--parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
                    <svg class="bx--parent-item__link--taxonomy-icon">
                      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--apps"></use>
                    </svg>
                    Example Parent Item
                  </a>
                </li>
                <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item tabindex="0">
                  <a class="bx--parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
                    <svg class="bx--parent-item__link--taxonomy-icon">
                      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--apps"></use>
                    </svg>
                    Example Parent Item
                  </a>
                </li>
              </ul>
            </nav>
          </div>


          <div id="header">
            <header role="banner" class="bx--global-header">
              <div class="bx--global-header__title">
                <a href="#" class="bx--global-header__title--logo" tabindex="0">
                  <img class="bx--logo__image" src="node_modules/carbon-icons/dist/svg/menu.svg"></img>
                  <h1 class="bx--logo__text">
                    IBM <span class="bx--logo__text--bold">Watson Beat</span>
                  </h1>
                </a>
                <h4 class="bx--global-header__title--current-page">Log In</h4>
              </div>
              </div>
            </header>
          </div> -->
          <!-- End header-->


      </header>
      <!-- End Global Header -->

    </div>
    <!-- End Unified Header -->



    <div id = "intro">
      <h1>Tell us what you need, and Watson Beat will create a custom track in seconds.</h1>
        <a href="intro.html"><button class="bx--btn bx--btn--primary bx--btn--sm" type="button">Get Started!</button></a>
    </div>

    </body>

    </html>
