<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LogIn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="../stylesheets/login.css">
    <link rel = "stylesheet" href="../../node_modules/carbon-components/css/carbon-components.min.css">

  </head>
  <body>
    <!-- Code for header -->
    <div id="header">
      <header role="banner" class="bx--global-header">
        <div class="bx--global-header__title">
          <a href="#" class="bx--global-header__title--logo" tabindex="0">
            <h1 class="bx--logo__text">
              IBM <span class="bx--logo__text--bold">Watson Beat</span>
            </h1>
          </a>
          <h4 class="bx--global-header__title--current-page">Log In</h4>
        </div>
        </div>
      </header>
    </div>
    <!-- End header -->
    <!-- Copy  -->
    <h2 id = "welcome" class="bx--row">Welcome to Watson Beat!</h2>

    <!-- Log In Form -->
    <div id="signUp">
      <div class="bx--form-item">
        <label for="username" class="bx--label">Username</label>
        <input id="username" type="text" class="bx--text-input" placeholder="Enter username here" />
      </div>
      <div class="bx--form-item">
        <label for="email" class="bx--label">Email</label>
        <input id="email" type="text" class="bx--text-input" placeholder="Enter your email here" />
      </div>
      <div class="bx--form-item">
        <label for="password" class="bx--label">Password</label>
        <input data-invalid id="your-password-id" type="password" class="bx--text-input" placeholder="Enter password here" />
      </div>
      <div class="bx--form-item">
        <label for="password" class="bx--label">Re-enter password</label>
        <input data-invalid id="your-password-id" type="password" class="bx--text-input" placeholder="Re-enter password here" />
      </div>
      <div class="bx--form-item">
          <a href="intro.html"><button class="bx--btn bx--btn--primary" type="button">Create Account</button></a>
      </div>
    </div>
    <!-- End LogIn Form -->
<script>
$(function() {
    $(window).on('resize', function resize()  {
        $(window).off('resize', resize);
        setTimeout(function () {
            var content = $('#signUp');
            var top = (window.innerHeight - content.height()) / 2;
            content.css('top', Math.max(0, top) + 'px');
            $(window).on('resize', resize);
        }, 50);
    }).resize();
});
</script>

  </body>

  </html>
