<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "/stylesheets/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid" style = "padding-top: 200px;">
      <div class="container">
        <div class="row" id="top">
            <div class="col-md-9">
              <h1 class="title" id="welcome">Watson <span style= "color: #6969D4"> Beat</a></h1>
                  <h2 class="subhead" id="welcome-description">Tell us about your project and Watson will compose an original tack based off of your needs!</h2>
            </div>
            <div class="col-md-3">
              <!-- <img src="imgs/group.svg" alt="group-icon"> -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" style="display: flex; margin-top: 40px;">
              <a href="/track/"><div id = "get-startedbox">
                <p id="get-started">Get Started</p>
              </div></a>
              <a href = "/track/"><div><h2 id ="learn-more" type = "button">Or learn more about Watson Beat</h2></div></a>
              <!-- <a href = "/track/"><button type="button">Generate a new Track</button>
              <a href = "/track/cognitive/"><button type="button">Cognitive Experience</button>
              <a href = "/track/custom/"><button type="button">Customize</button>

              <a href = "/getRecent"><button type="button">Get most recent .mp3</button> -->
            </div>
          </div>

</body>
