<body>
LANDING PAGE - MAIN PAGE
</body>

<a href = "/"><button type="button">Home Page</button>
<a href = "/login"><button type="button">Login</button>
<a href = "/login"><button type="button">Sign Up</button>

<a href = "/track/"><button type="button">Generate a new Track</button>
<a href = "/track/cognitive/"><button type="button">Cognitive Experience</button>
<a href = "/track/custom/"><button type="button">Customize</button>

<a href = "/getRecent"><button type="button">Get most recent .mp3</button>