<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LogIn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="stylesheets/login.css">
    <link rel = "stylesheet" href="carbon-components.min.css">

  </head>
  <body>
    <!-- Code for header -->
    <div id="header">
      <header role="banner" class="bx--global-header">
        <div class="bx--global-header__title">
          <a href="#" class="bx--global-header__title--logo" tabindex="0">
            <h1 class="bx--logo__text">
              IBM <span class="bx--logo__text--bold">Watson Beat</span>
            </h1>
          </a>
          <h4 class="bx--global-header__title--current-page">Log In</h4>
        </div>
        </div>
      </header>
    </div>
    <!-- End header -->

    <div id = "intro">
      <h1>Hi Veronica!</h1>
      <h2>How would you describe yourself?</h2>
      <a href="intro.html"><h3>I'm a podcaster.</h3></a>
      <a href="intro.html"><h3>I'm a videographer.</h3></a>
      <a href="intro.html"><h3>I'm another type of content creator.</h3></a>
    </div>

    </body>

    </html>
