<body>
LIST TRACK OPTIONS. COGNITIVE OR CUSTOM.
</body>

<a href = "/"><button type="button">Home Page</button>
<a href = "cognitive/"><button type="button">Cognitive Experience</button>
<a href = "custom/"><button type="button">Custom</button>