<body>
  <div class="container-fluid" style = "padding-top: 200px;">
      <div class="container">
        <div class="row" id="top">
            <div class="col-md-9">
              <h1 class="title" id="welcome">Watson <span style= "color: #6969D4"> Beat</a></h1>
                  <h2 class="subhead" id="welcome-description">Tell us about your project and Watson will compose an original tack based off of your needs!</h2>
            </div>
            <div class="col-md-3">
              <!-- <img src="imgs/group.svg" alt="group-icon"> -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" style="display: flex; margin-top: 40px;">
              <a href = "/"><button type="button">Home Page</button>
              <a href = "cognitive/"><button type="button">Cognitive Experience</button>
              <a href = "custom/"><button type="button">Custom</button>
            </div>
          </div>

</body>
