<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "/stylesheets/input.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body id="body">
  <div class="container-fluid" id="container">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h1 id="title">Upload a music sample to  act as <span id="orange-text">inspiration</span> for Watson.</h1>
          </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="button-container">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <button type="button" class="bx--overflow-menu-options__btn" id="button">Upload MIDI file</button>
            <button type="button" class="bx--overflow-menu-options__btn" id="button">Play 10 sec sample</button>
            <a id="button-alt">Let Watson choose</a>
          </div>
      </div>
    </div>
  </div>

</body>
