#navbar{
  height: 71px;
}
.navbar-header{
  margin-top: 10px;
}
#navbar-default{
  border-bottom: 2px solid #E0E0E0;
  background: white;
}
#logo{
  height: 30px;	width: 157px;	color: #5A6872;	font-family: "IBM Plex Sans";	font-size: 12px;	font-weight: 600;	line-height: 15px;
}
/*#logo:hover{
  text-decoration: underline;
}*/
#signuprect{ margin-top: 16px; height: 33px;	width: 99px;	border: 1px solid #6969D4;	border-radius: 100px; }

#sign-up { padding-left: 25px; padding-top: 10px; height: 33px; width: 99px; height: 15px;	width: 100px;	color: #6969D4;	font-family: "IBM Plex Sans";	font-size: 12px;	line-height: 15px;}
