#audioplayer{
    width: 480px;
    height: 60px;
    margin: 50px auto auto auto;
    border: solid;
    border-radius: 20px;
    border-color: #FFA573;
}

#pButton{
    fill: #FFA573;
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('/Icons/Play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline{
    width: 400px;
    height: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: #FFA573;

}
#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: white;
}

#navbar{
  height: 71px;
}
.navbar-header{
  margin-top: 10px;
}
#navbar-default{
  border-bottom: 2px solid #E0E0E0;
  background: white;
}
#logo{
  height: 30px;	width: 157px;	color: #5A6872;	font-family: "IBM Plex Sans";	font-size: 12px;	font-weight: 600;	line-height: 15px;
}

#signuprect{ margin-top: 16px; height: 33px;	width: 99px; }

#sign-up {
  height: 33px;
  color: #4D4D9B;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #4D4D9B;
  border-radius: 100px;
  text-align: center;
  padding-top: 8px;
}
#sign-up:hover{
  text-decoration: none;
}


/*Landing Page*/

#watson{margin-bottom: 34px;}
#welcome {	height: 143px;	width: 692px;	color: #FFFFFF;	font-family: "IBM Plex Sans";	font-size: 110px;	font-weight: bold;	line-height: 143px;margin-bottom: 0px;}
#welcome-description{	color: #FFFFFF;font-family: "IBM Plex Sans";	font-size: 26px;	font-weight: 500;	line-height: 36px;margin-top: 0px;}
#get-started {
  padding: 11px 50px;
  color: #4D4D9B;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 #5A6872;
  font-weight: bold;
  text-align: center;
  border:2px solid white;
  margin-bottom: 150px;
}
#get-started:hover{
  text-decoration: none;
  border:2px solid white;
  background-color: inherit;
  color:white;
}
#learn-more{	margin-left: 40px; padding-bottom: 13px; height: 25px;	width: 299px;	color: #FFFFFF;	font-family: "IBM Plex Sans";	font-size: 16px;	font-weight: 600;	line-height: 25px;}
#belowheader{
  background-image: url("/Img/Alex da kid purple.png");
}
#podcastgetstarted{
  	background-color: #FFF2EB;
}
#royaltygetstarted{
  background-color: #E9F8FF;}
#podcast-title{
  margin-left: auto;
  margin-right: auto;
  color: #4D4D9B;
  font-family: "IBM Plex Sans";
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;}
#podcast-subtitle{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #4D4D9B;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
#podget-started{
  padding: 11px 30px;
  width:160px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 #9B9B9B;
  background-color: #4D4D9B;
  color: #FFFFFF;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 72px;
  border:2px solid #4D4D9B;
}
#podget-started-container:hover{
  text-decoration: none;
}
#podget-started:hover{
  text-decoration: none;
  border:2px solid #4D4D9B;
  background-color: inherit;
  color:#4D4D9B;
}
#podimg{margin-top: 72px; margin-bottom: 32px;margin-left: auto; margin-right: auto;display: flex;justify-content: center;}

#royalty-title{
  color: #4D4D9B;
  font-family: "IBM Plex Sans";
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}
#royalty-subtitle{
  margin-left: auto;
  margin-right: auto;
  color: #4D4D9B;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 10px;
}
#royget-started{
  padding: 11px 30px;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 #9B9B9B;
  background-color: #4D4D9B;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  border:2px solid #4D4D9B;
}
#royget-started:hover{
  text-decoration: none;
  border:2px solid #4D4D9B;
  background-color: inherit;
  color:#4D4D9B;
}
#royletwatson{
  padding-left: 50px;
  color: #4D4D9B;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 600;
}
#sm-btn-containter{
}
#royoptions{
  margin-top: 45px;
  display: flex;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width:400px;
}
#royimg{margin-top: 72px; margin-bottom: 32px; margin-left: auto; margin-right: auto; display: flex;justify-content: center;}

/*Dashboard Page*/

#top{margin-top: 50px;}
#dashboard-label {	height: 33px;	width: 61px;	color: #6969D4;	font-family: "IBM Plex Sans";	font-size: 12px;	font-weight: 600;	line-height: 33px; justify-content: center;}
#username{margin-top: 23px; height: 23.2px;	width: 150px;	color: #6969D4;	font-family: "IBM Plex Sans";	font-size: 12px;	font-weight: 600;	line-height: 23px; justify-content: center;}
#searchgrp {display: flex; box-sizing: border-box;	height: 33px;	width: 311px;	border: 1px solid #6969D4;	border-radius: 100px;
}
#search{
  height: 98%;
  width: 80%;
  margin-left: 10px;
  border: none;
}
button{
    border: none;
    background-color: white;
}
#search-btn, #user-btn{
  border: none;
  background-color: white;
}
#plusicon{
  margin-top: 90.5px; height: 44.02px;	width: 45px;
}
#recentlycreatedrow{display: flex; justify-content: space-between; width: 100%;}
#recently {	margin-top: 90.5px; height: 55px;	width: 665.65px;	color: #586873;	font-family: "IBM Plex Sans";	font-size: 42px;	font-weight: bold;	line-height: 55px;}
.tracks{
  width:310px;
  height:410px;
  background-color: white;
  text-align:center;
}
#image{
  width: 310px;
  height:310px;
  background-image: url("/Img/Track 1.png");
}
#containerfortracks{
  padding-top: 20px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
#tracktitles{	margin:auto; height: 34px;	width: 167px;	color: #586873;	font-family: "IBM Plex Sans";	font-size: 26px;	font-weight: bold;	line-height: 34px;}
#tags{margin-left: 10px; padding-top: 2px; display: flex; justify-content: center; height: 20px;	width: 60px;	border-radius: 13px;	background-color: #FF7832;}
#tag-labels{height: 16px;	width: 35.75px;	color: #FFFFFF;	font-family: "IBM Plex Sans";	font-size: 12px;	font-weight: 500;	line-height: 16px;	text-align: center;}
#tag-container{display: flex; justify-content: center;}
#poptag-container{display: flex; margin-top: 10px;}
#popular-tags {	margin-left: 73.5px; height: 16px;	width: 97px;	margin-top: 10px;color: #6969D4;	font-family: "IBM Plex Sans";	font-size: 16px;	font-weight: 500;	line-height: 16px;}



/*Upload*/


#upload{height: 480px;	width: 1035px;	color: #FFFFFF;	font-family: "IBM Plex Sans";	font-size: 110px;	font-weight: bold;	line-height: 120px;}
